.about-container {
background-color: $dark-grey !important;
margin-top:2em;
margin-bottom: 2em;
}

.modal-content{
    background-color: $dark-grey !important;
}

.modal-header{
    border-bottom: none !important;
}