.test {
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"), linear-gradient(to bottom, #002c3c, #005d76, #006779, #00717a, #017b79, #002c3c);
    margin-top: 100px;
    background-attachment: fixed;
}