.navbar {
    background: #0a192d;
    box-shadow: none !important;
    font-family: "Varela Round"; 
}

.navbar li {
    padding-left: 15px;
    padding-right: 15px; 
}

.navbar:not(.top-nav-collapse) {
    background: #0a192d; 
}


.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #0a192d;
    -webkit-transition: 0.1s;
    transition: 0.1s; 
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px; }

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFFFFF;
    display: block;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    font-weight: 500; }

.overlay a:hover,
.overlay a:focus {
    color: #009f4f; }

.overlay .closebtn {
    position: absolute;
    right: 32px; }