.skills-container {
    background-color: $dark-grey !important;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-image: url("../images/skills-bg.png");
    
    }
    
