.section-heading{
    background-image: url("../images/rainbowbg.png");
    overflow:hidden;
    text-align:left;
    margin-top:1em;
    margin-bottom:0.8em;
    
}

a {
    color: #086080 !important;
}

a:hover {
    color: #efe270 !important;
}

body {
    font-family: $bodyFont !important;
    font-weight:300;
    color: $white-text;
    
}

h1 {
    font-family: $headerFont;
    color: $white-text;
    
}

h2 {
    font-family: $headerFont;
    text-transform: lowercase;
    color: $white-text;
}

h3 {
    font-family: $headerFont;
    text-transform: lowercase;
    color: $white-text;
}

h4 {
    font-family: $bodyFont;
    color: $white-text;
    font-weight:400;

}

h5 {
    font-family: $bodyFont;
    color: $white-text;
    font-weight:400;

}

p {
    font-family: $bodyFont;
    color: $white-text;
    font-size:1.3em !important;
    text-align:justify;
    font-weight:300;
    
}

ul{
    font-family: $bodyFont;
    color: $white-text;
    font-size:1.3em !important;
    list-style: none;
}